<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>About Light Gray</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!-- templatemo 304 light gray -->
    <!-- 
Light Gray Template 
http://www.templatemo.com/preview/templatemo_304_light_gray 
-->
    <link href="../static/css/templatemo_style.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript">
        function clearText(field) {
            if (field.defaultValue == field.value) field.value = '';
            else if (field.value == '') field.value = field.defaultValue;
        }
    </script>
</head>

<body>
    <div id="templatemo_body_wrapper">
        <div id="templatemo_wrapper">

            <div id="templatemo_header">

                <div id="site_title">
                    <h1><a href="#">Light Gray</a></h1>
                </div>

                <div id="search_box">
                    <form action="#" method="get">
                        <input type="text" value="Search" name="q" size="10" id="searchfield" title="searchfield"
                            onfocus="clearText(this)" onblur="clearText(this)" />
                    </form>
                </div>

            </div> <!-- end of templatemo header -->

            <div id="templatemo_menu">
                <ul>
                    <li><a href="/" class="current">主頁</a></li>
                    <li><a href="/news">小遊戲</a></li>
                    <li><a href="/portfolio">搜尋美食</a></li>
                    <li><a href="/about">關於我</a></li>
                    <li><a href="/loginweb">搜尋電影評分</a></li>
                    <li><a href="/email">接收資訊</a></li>
                </ul>
            </div> <!-- end of templatemo_menu -->

            <div id="templatemo_main">

                <div class="col_w620 float_l">
                    <p align="justify">
                    <h1>
                        <h2>金門大學</h4>
                            <h3>資工三110810548</h3>
                            <h4>鄭宇岑</h4>
                    </h1>
                </div>
            </div> <!-- end of main -->
            <div id="templatemo_main_bottom"></div>
            <div class="cleaner"></div>
        </div> <!-- end of templatemo wrapper -->
    </div> <!-- end of templatemo body wrapper -->

    <div id="templatemo_footer_wrapper">

        <div id="templatemo_footer">
            Copyright © 2048 <a href="#">Your Company Name</a>
            <div class="cleaner"></div>
        </div>
    </div>
</body>

</html>