<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Light Gray Web Template</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!-- templatemo 304 light gray -->
    <!-- 
Light Gray Template 
http://www.templatemo.com/preview/templatemo_304_light_gray 
-->
    <link href="templatemo_style.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript">
        function clearText(field) {
            if (field.defaultValue == field.value) field.value = '';
            else if (field.value == '') field.value = field.defaultValue;
        }
    </script>
</head>

<body>
    <div id="templatemo_body_wrapper">
        <div id="templatemo_wrapper">

            <div id="templatemo_header">

                <div id="site_title">
                    <h1><a href="#">打靶系統</a></h1>
                </div>

                <div id="search_box">
                    <form action="#" method="get">
                        <input type="text" value="Search" name="q" size="10" id="searchfield" title="searchfield"
                            onfocus="clearText(this)" onblur="clearText(this)" />
                    </form>
                </div>

            </div> <!-- end of templatemo header -->

            <div id="templatemo_menu">
                <ul>
                    <li><a href="index.html" class="current">Home</a></li>
                    <li><a href="news.html">Latest News</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="contact.html" class="last">Contact</a></li>
                    <li><a href="contact.html" class="last">Login</a></li>
                </ul>
            </div> <!-- end of templatemo_menu -->

            <div id="templatemo_middle">

                <a href="#"><img src="images/templatemo_icon.png" alt="Free Template" /></a>

                <div id="mid_title">
                    Welcome to Silver Team</div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris iaculis nulla vitae ante congue
                    iaculis. Nunc vitae sapien sed neque porttitor egestas sit amet ut ligula.</p>

                <div id="learn_more"><a href="#"></a></div>

                <div class="cleaner"></div>

            </div> <!-- end of middle -->

            <div id="templatemo_fp_services">

                <div class="fp_services_box">
                    <div class="fps_title"><a href="#">Web Design</a></div>
                    <p>Etiam magna metus, hendrerit non aliquam nec, tincidunt nec metus.</p>
                    <a href="#" class="sb_more">More</a>
                </div>

                <div class="fp_services_box">
                    <div class="fps_title"><a href="#">CSS Templates</a></div>
                    <p>Etiam magna metus, hendrerit non aliquam nec, tincidunt nec metus.</p>
                    <a href="#" class="sb_more">More</a>
                </div>

                <div class="fp_services_box l_box">
                    <div class="fps_title"><a href="#">Interactive Media</a></div>
                    <p>Etiam magna metus, hendrerit non aliquam nec, tincidunt nec metus.</p>
                    <a href="#" class="sb_more">More</a>
                </div>

            </div> <!-- end of templatemo fp services -->

            <div id="templatemo_main">

                <div class="col_w620 float_r">
                    <h2>Who We Are</h2>

                    <img src="images/templatemo_image_01.jpg" class="image_wrapper image_fr" alt="banner" />

                    <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum velit in tortor
                            faucibus id tempus enim sodales. Vestibulum quam purus, euismod eget malesuada sit amet,
                            condimentum id massa. </em></p>

                    <p align="justify"><a href="#">Light Gray Template</a> is provided for your personal or commercial
                        websites. Validate <a href="http://validator.w3.org/check?uri=referer"
                            rel="nofollow"><strong>XHTML</strong></a> &amp; <a
                            href="http://jigsaw.w3.org/css-validator/check/referer"
                            rel="nofollow"><strong>CSS</strong></a>. Credits go to <a href="http://www.photovaco.com"
                            target="_blank">Free Photos</a> for photos and <a href="http://www.vectorvaco.com"
                            target="_blank">Free Vectors</a> for icons used in this template. Etiam magna metus,
                        hendrerit non aliquam nec, tincidunt nec metus. Sed nec odio vel nulla pellentesque sodales a
                        molestie nisi.</p>

                    <div class="cleaner h10"></div>

                    <ul class="tmo_list float_l">
                        <li><a href="#">Sed elementum velit in tortor faucibus</a></li>
                        <li><a href="#">Praesent tempor quam a turpis volutpat</a></li>
                        <li><a href="#">Etiam adipiscing massa ut tortor </a></li>
                        <li><a href="#">Nullam consectetur volutpat adipiscing</a></li>
                        <li><a href="#"> Sed turpis dolor, tincidunt in tempor</a></li>
                    </ul>

                    <ul class="tmo_list float_r">
                        <li><a href="#">Etiam adipiscing massa ut tortor </a></li>
                        <li><a href="#">Nullam consectetur volutpat adipiscing</a></li>
                        <li><a href="#"> Sed turpis dolor, tincidunt in tempor</a></li>
                        <li><a href="#">Sed elementum velit in tortor faucibus</a></li>
                        <li><a href="#">Praesent tempor quam a turpis</a></li>
                    </ul>

                    <div class="cleaner"></div>

                    <a class="more" href="#">More</a>

                </div>

                <div class="col_w300 float_l">
                    <h2> Latest Updates</h2>

                    <div class="fp_news_box">
                        <img src="images/templatemo_image_03.jpg" alt="News One" />
                        <h6><a href="#">Quisque ornare pulvinar</a></h6>
                        Aliquam lacus turpis, dapibus eget, tincidunt eu. Integer pellentesque dignissim.
                        <div class="fp_news_date">June 28, 2048</div>
                        <div class="cleaner"></div>
                    </div>

                    <div class="fp_news_box">
                        <img src="images/templatemo_image_02.jpg" alt="News Two" />
                        <h6><a href="#">Nullam consectetur</a></h6>
                        Nam id nibh quis nisi tristique pharetra a ut leo. Aenean vel lorem odio.
                        <div class="fp_news_date">June 24, 2048</div>
                        <div class="cleaner"></div>
                    </div>

                    <div class="fp_news_box">
                        <img src="images/templatemo_image_04.jpg" alt="News Three" />
                        <h6><a href="#">Pellentesque consequat</a></h6>
                        Pellentesque lectus justo, fermentum in, ornare vitae, vehicula eu, felis.
                        <div class="fp_news_date">June 22, 2048</div>
                        <div class="cleaner"></div>
                    </div>
                    <a class="more" href="#">View All</a>
                </div>

                <div class="cleaner"></div>
            </div> <!-- end of main -->
            <div id="templatemo_main_bottom"></div>
            <div class="cleaner"></div>
        </div> <!-- end of templatemo wrapper -->
    </div> <!-- end of templatemo body wrapper -->

    <div id="templatemo_footer_wrapper">

        <div id="templatemo_footer">
            Copyright © 2048 <a href="#">Your Company Name</a>
            <div class="cleaner"></div>
        </div>

    </div>

</body>

</html>